@font-face {
  src: url("../fonts/montserrat-alternates-bold.ttf");
  font-family: "Montserrat Alternates";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/montserrat-alternates-medium.ttf");
  font-family: "Montserrat Alternates";
  font-weight: 500;
}

